**/__pycache__/**
checkpoints/
checkpoints
data/
*.pyc
*.swp

# Deformable
# models/ops/
models/ops/build
models/ops/dist
models/ops/MultiScaleDeformableAttention.egg-info

# PHOENIX
batchscript-*
phoenix-slurm-*

data/*
models/test_pd_op/*
.vscode/*
